<div class="row">
  <div class="col-12 text-end">
    <button class="btn btn-success" (click)="addNew()">Add New Item</button>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">Id</th>
        <th style="width: 10%">User id</th>
        <th style="width: 35%">Title</th>
        <th style="width: 40%">Body</th>
        <th style="width: 5%">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of postList; track $index) {
      <tr>
        <td style="width: 10%">
          @if (data.isEditable) {
          <input type="text" [(ngModel)]="data.id" class="form-control" />
          }@else {
          {{ data.id }}
          }
        </td>
        <td style="width: 10%">
          @if (data.isEditable) {
          <input type="text" [(ngModel)]="data.userId" class="form-control" />
          }@else {
          {{ data.id }}
          }
        </td>
        <td style="width: 40%">
          @if (data.isEditable) {
          <input
            type="text"
            [(ngModel)]="data.title"
            style="width: 100%"
            class="form-control"
          />
          }@else {
          {{ data.title }}
          }
        </td>
        <td style="width: 40%">
          @if (data.isEditable) {
          <textarea
            type="text"
            [(ngModel)]="data.body"
            style="width: 100%"
            class="form-control"
          >
          </textarea>
          }@else {
          {{ data.body }}
          }
        </td>
        <td style="width: 5%">
          @if (data.isEditable) { @if(data.id === 0){
          <button class="btn btn-sm btn-success" (click)="onSave(data)">
            Save
          </button>
          }@else {
          <button class="btn btn-sm btn-warning">Update</button>
          }
          <button class="btn btn-sm btn-secondary" (click)="cancelRow(data)">
            Cancel</button
          >} @else {
          <button class="btn btn-sm btn-primary" (click)="onEdit(data)">
            Edit
          </button>
          <button class="btn btn-sm btn-danger" (click)="removeEditable()">
            Delete
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
